Repository mikesupertrampster/aws-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tag-source, build-base

tag-source:
  stage: tag-source
  script:
  - .scripts/git-changes.py
  artifacts:
    paths:
    - semver

build-base:
  stage: build-base
  variables:
    role: base
  script:
  - export VERSION_NO=$(cat semver)
  - packer build packer/${role}.json

Move git tag to script.
  .gitlab-ci.yml
Due: none

Force build.
  ansible/roles/hardening/tasks/main.yml
Due: tag-source, build-base

Add vault ami.
  .gitlab-ci.yml
  ansible/roles/cfn-tools/defaults/main.yml
  ansible/roles/cfn-tools/tasks/checks.yml
  ansible/roles/cfn-tools/tasks/main.yml
  ansible/roles/cfn-tools/templates/base.py
  ansible/roles/cfn-tools/templates/cfn-signal.service
  ansible/roles/cfn-tools/templates/cfn-signal.target
  ansible/roles/cfn-tools/templates/check-node.py
  ansible/roles/etc-environment/files/cloud.target
  ansible/roles/etc-environment/files/etc-environment.py
  ansible/roles/etc-environment/files/etc-environment.service
  ansible/roles/etc-environment/files/etc-environment.target
  ansible/roles/etc-environment/tasks/main.yml
  ansible/roles/ssh/tasks/checks.yml
  ansible/roles/ssh/tasks/configure-ssh.yml
  ansible/roles/ssh/tasks/main.yml
  ansible/roles/ssh/templates/authorized_keys_command.sh
  ansible/roles/ssh/templates/import-users-check.py
  ansible/roles/ssh/templates/import-users.service
  ansible/roles/ssh/templates/import-users.timer
  ansible/roles/ssh/templates/import_users.sh
  ansible/roles/vault/defaults/main.yml
  ansible/roles/vault/files/vault-autounseal.py
  ansible/roles/vault/files/vault-check.py
  ansible/roles/vault/tasks/checks.yml
  ansible/roles/vault/tasks/install.yml
  ansible/roles/vault/tasks/main.yml
  ansible/roles/vault/tasks/vault-config.yml
  ansible/roles/vault/templates/base.hcl.j2
  ansible/roles/vault/templates/dynamodb.hcl.j2
  ansible/roles/vault/templates/telemetry.hcl.j2
  ansible/roles/vault/templates/vault.service.j2
  packer/playbook.yml
  packer/scripts/install.sh
  packer/vault.json
Due: tag-source

Fix packer yml.
  ansible/roles/cfn-tools/tasks/checks.yml
  packer/vault.json
Due: tag-source

Fix typo.
  ansible/roles/vault/tasks/main.yml
Due: tag-source

Add bastion.
  .gitlab-ci.yml
  packer/bastion.json
  packer/playbook.yml
Due: none

Update README.
  README.md
Due: none

Add more tags to ami.
  packer/bastion.json
  packer/vault.json
Due: none

Refactor to use auto-unseal.
  README.md
  ansible/roles/vault/files/certbot.sh
  ansible/roles/vault/files/seal.hcl.sh
  ansible/roles/vault/files/vault-autounseal.py
  ansible/roles/vault/tasks/install.yml
  ansible/roles/vault/tasks/vault-config.yml
  ansible/roles/vault/templates/telemetry.hcl.j2
  ansible/roles/vault/templates/vault.service.j2
Due: tag-source

Force rebuild.
  ansible/roles/cfn-tools/tasks/main.yml
Due: tag-source

Do apt update.
  README.md
  ansible/roles/vault/tasks/install.yml
Due: tag-source

Tweak vault image.
  ansible/roles/vault/files/certbot.sh
  ansible/roles/vault/tasks/install.yml
  ansible/roles/vault/templates/req_cert.sh.j2
  ansible/roles/vault/templates/vault.service.j2
Due: tag-source

Remove certbot.
  ansible/roles/vault/tasks/install.yml
Due: tag-source

Fix variable tls path.
  ansible/roles/vault/defaults/main.yml
  ansible/roles/vault/templates/base.hcl.j2
Due: tag-source

Rearrange tasks.
  ansible/roles/vault/tasks/install.yml
Due: tag-source

Add libcap2-bin back into image.
  ansible/roles/vault/tasks/install.yml
Due: tag-source

Fixes to get vault to run.
  ansible/roles/ssh/templates/import-users-check.py
  ansible/roles/vault/tasks/install.yml
Due: tag-source

Don't use absolute path for openssl command.
  ansible/roles/vault/templates/req_cert.sh.j2
Due: tag-source

Path conditions:
  tag-source: any of: ansible/**/*
  build-base: any of: ansible/roles/base/**/*, ansible/roles/hardening/**/*
